.gradle
/local.properties
/.idea
.DS_Store
/build
/libs

/gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
NonSense.iml
settings.gradle

/app/gradle

/app/build
/app/libs

/app/app.iml
/app/proguard-rules.pro
/app/app-release.apk


/app/src/androidTest

/app/src/proguard-rules.pro

/app/src/main/java/com.bcappslab.nonsense/testing