.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
/libs

/app/gradle

/app/build
/app/libs

/app/src/androidTest

/app/src/app-release.apk
/app/src/proguard-rules.pro

/app/src/main/java/com.bcappslab.nonsense/testing