<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bcappslab.nonsense" >

    <!--
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sensorclasses.AccelerometerSensor"
            android:label="@string/sensor_accelerometer"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.AmbientTemperatureSensor"
            android:label="@string/sensor_ambient_temperature"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.GameRotationVectorSensor"
            android:label="@string/sensor_game_rotation_vector"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.GeomagneticRotationVectorSensor"
            android:label="@string/sensor_geomagnetic_rotation_vector"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.GravitySensor"
            android:label="@string/sensor_gravity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.GyroscopeSensor"
            android:label="@string/sensor_gyroscope"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.GyroscopeUncalibratedSensor"
            android:label="@string/sensor_gyroscope_uncalibrated"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.LightSensor"
            android:label="@string/sensor_light"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.LinearAccelerationSensor"
            android:label="@string/sensor_linear_acceleration"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.MagneticFieldSensor"
            android:label="@string/sensor_magnetic_field"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.MagneticFieldUncalibratedSensor"
            android:label="@string/sensor_magnetic_field_uncalibrated"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.OrientationSensor"
            android:label="@string/sensor_orientation"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.PressureSensor"
            android:label="@string/sensor_pressure"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.ProximitySensor"
            android:label="@string/sensor_proximity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.RelativeHumiditySensor"
            android:label="@string/sensor_relative_humidity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.RotationVectorSensor"
            android:label="@string/sensor_rotation_vector"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.SignificantMotionSensor"
            android:label="@string/sensor_significant_motion"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.StepCounterSensor"
            android:label="@string/sensor_step_counter"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.StepDetectorSensor"
            android:label="@string/sensor_step_detector"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".sensorclasses.TemperatureSensor"
            android:label="@string/sensor_temperature"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>

    </application>

</manifest>
